:root {
  --font-color: #080808;
  --header: "Unbounded", sans-serif;
  --text: "Ubuntu", sans-serif;
  --bg-color: #e8e9ea;
  --gradient: linear-gradient(#dead4c 0%, #994bde 100%);
  --button: #e82df5;
  --shadow: 8px 8px 0 var(--font-color);
  --shadow-hover: 16px 16px 0 var(--font-color);

}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  max-width: 1280px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--font-color);
  font-family: var(--header);
}

p {
  color: var(--font-color);
  font-family: var(--text);
  font-size: 20px;
  line-height: 1.2;
}

section {
  width: 100%;
  height: 72vh;
}

/*--- MAIN DESIGN ---*/
nav {
  margin: 100px 0 0 40px;
  max-width: 650px;
  padding: 0 0 0 20px;
}

ul {
  display: flex;
  padding: 0 20px;
}

li {
  list-style: none;
  padding: 0 50px 0 0;
  font-family: var(--header);
  font-size: 25px;
}

li a {
  color: var(--font-color);
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#hero {
  display: flex;
  justify-content: center;
  height: 55vh;
}

.hero-text {
  margin: 50px 0 0 145px;
  max-width: 800px;
  max-height: 300px;
}

.hero-text h1 {
  font-size: 150px;
  font-weight: 400;


  position: relative;
  z-index: 2;
}

.hero-text h3 {
  font-size: 36px;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 70px;
}

.hero-portrait {
  margin-top: 30px;
  max-width: 534px;
  max-height: 631px;
  padding: 0;
  margin: 0;
  position: relative;
  left: -222px;
}

.bottom-circle,
.upper-circle {
  width: 534px;
  height: 534px;
  border-radius: 50%;
  background: var(--gradient);
  position: relative;
}

.bottom-circle {
  box-shadow: var(--shadow);
  z-index: 1;
}

.etzhmk {
  width: 478px;
  height: 478px;
  position: relative;
  top: -640px;
  left: 30px;

  z-index: 3;
}

.upper-circle {
  top: -1020px;
  z-index: 4;
  mask-image: linear-gradient(
    -3deg,
    rgba(0, 0, 0, 1) 31%,
    rgba(0, 0, 0, 0) 60%
  );
}

/* Button Styling */
button {
  width: 320px;
  height: 60px;
  border: none;
  background: var(--button);
  box-shadow: var(--shadow);
  font-family: var(--header);
  font-size: 36px;
  cursor: pointer;
  margin: 60px 370px;

  position: relative;
  z-index: 5;
}

.button-text {
  position: relative;
  left: -60px;
}

button:hover {
  box-shadow: var(--shadow-hover);
  background: yellow;
}

h2 {
  font-size: 4rem;
  margin-top: 50px;
  margin-bottom: 100px;
}

#about,
#release,
#contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#about {
  height: 40vh;
}

#release {
  height: 50vh;
}

#contacts {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.cards a {

  text-decoration: none;
}

.contact-card {
  width: 400px;
  height: 100px;
  background: var(--gradient);
  box-shadow: var(--shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contact-card p {
  font-size: 36px;
  font-family: var(--header);
}

.contact-card:hover {
  background: var(--button);
  box-shadow: var(--shadow-hover);
}


footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
